body{
    background-color:pink;
    color:white;
}

.brand-title{
    color:#1f1d1d;
    text-align:center;
    font-size:40px;
}

/* Brand container */
.brand-container{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    padding-top:40px;
}

/* Brand card */
.brand-card{
    background:(0, 0, 0);
    padding:20px;
    text-align:center;
    border-radius:15px;
    transition:0.3s;
}

.brand-card:hover{
    transform:scale(1.05);
}

/* Circle Image */
.brand-image{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    display:block;
    margin:0 auto;
}

/* Brand name */
.brand-card h3{
    color:#0f0e0e;
    margin-top:15px;
    font-size:20px;
}

.brand-card a{
    text-decoration:none;
}

/* Mobile */
@media(max-width:768px){

    .brand-container{
        grid-template-columns:1fr;
    }

    .brand-image{
        width:180px;
        height:180px;
    }
}