/* full black background*/
body{
    margin:0;
    padding:0;

    background-color: black;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    font-family: Arial;
}

/* center content*/
.overlay{

    text-align:center;
}

/* logo image*/
.logo{
    width:200px;
    height: auto;
}

/* glam zone text */
h1{
    color: gold;
    font-size:50px;
}
