{% load static %}
<!DOCTYPE html>
<html>

<head>

    <title>Login - Glam Zone</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="container">

        <div class="form-box">

            <center>
                <h2>Login</h2>
            </center>

            {% if messages %}
                {% for message in messages %}
                    <p style="color:red;">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <input type="text" name="username" placeholder="Username" required>

                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">LOGIN</button>

            </form>

            <p>
                Not a member?
                <a href="{% url 'register' %}">Create Account</a>
            </p>

        </div>

    </div>

</body>
</html>