{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Glam Zone</title>

    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
</head>

<body>

<div class="logo">

    <h1>Glam Zone</h1>
    <p>Beauty Begins Here ✨</p>
    <a href="{% url 'brands' %}" class="enter-btn">
    Enter Store
</a>
</div>

<script>

    // 5 second baad redirect
    setTimeout(function () {

        window.location.href = "{% url 'brands' %}";

    }, 50000);

</script>

</body>
</html>
