{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Glam Zone</title>

    <link rel="stylesheet" href="{% static '/css/logo.css/' %}">

</head>

<body>

    <div class="overlay">

        <img src="{% static 'image\image.jpeg'%}" class="logo">

        <h1>Glam Zone</h1>


    </div>

    <script>
        // 5 seconds ke baad redirect
        setTimeout(function () {
            window.location.href = "{% url 'welcome' %}";
        }, 10000);
    </script>


</body>

</html>