{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Glam Zone</title>

    <link rel="stylesheet" href="{% static '/css/logo.css/' %}">

</head>

<body>
    <div class="logo">

        <img src="{% static 'images/logo.jpeg' %}" class="logo-img">

        <h1>Glam Zone</h1>

    </div>


    <script>
        // 5 seconds ke baad redirect
        setTimeout(function () {
            window.location.href = "{% url 'brands' %}";
        }, 10000);
    </script>


</body>

</html>