{% extends "app/basic1.html" %}
{% load static %}

{% block content %}

<head>

    <link rel="stylesheet" href="{% static 'css/product.css' %}">

</head>

<div class="title">

    <h1>Products</h1>

</div>

<div class="grid">

    {% for product in products %}

    <div class="product">

        <!-- PRODUCT IMAGE -->

        <a href="{% url 'product_details' product.id %}">

            <img src="{{ product.image.url }}" alt="">

        </a>

        <!-- PRODUCT NAME -->

        <a href="{% url 'product_details' product.id %}" class="product-link">

            <h3>{{ product.name }}</h3>

        </a>

        <!-- DESCRIPTION -->

        <p class="desc">

            {{ product.description }}

        </p>

        <!-- PRICE -->

        <p class="price">

            ₹ {{ product.price }}

        </p>

        <!-- BUTTONS -->

        <div class="btns">

            <a href="/add-to-cart/{{ product.id }}/">

                <button class="cart-btn">

                    Cart

                </button>

            </a>

            <a href="/buy-now/{{ product.id }}/">

                <button class="buy-btn">

                    Buy Now

                </button>

            </a>
            <a href="/compare/?p1={{ product.id }}">
                <button class="compare-btn">Compare</button>
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}