{% extends "app/basic1.html" %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/product.css/' %}">
</head>
<div class="title">
    <h1>Products</h1>
</div>

<div class="grid">

    {% for product in products %}

    <div class="product">

        <img src="{{ product.image.url }}" alt="">

        <h3>{{ product.name }}</h3>

        <p class="desc">{{ product.description }}</p>

        <p class="price">₹ {{ product.price }}</p>

        <div class="btns">

            <a href="/add-to-cart/{{ product.id }}/">
                <button class="cart-btn">Add to Cart</button>
            </a>

            <a href="/buy-now/{{ product.id }}/">
                <button class="buy-btn">Buy Now</button>
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}